<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Afy.Shopping.WebMVC</title>
    <link rel="stylesheet" href="~/css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="~/css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <!--=================================
    Header -->
    <header class="header header-style-02 header-sticky">
        <nav class="navbar navbar-static-top navbar-expand-lg px-3 px-md-5">
            <div class="container-fluid position-relative px-0">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <i class="fas fa-align-left"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img class="img-fluid" src="img/logo.webp" alt="logo">
                </a>
                <a class="navbar-brand navbar-brand-sticky" href="index.html">
                    <img class="img-fluid" src="img/logo.webp" alt="logo">
                </a>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active"><a class="nav-link" asp-controller="Product" asp-action="Index">Ürünler</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Basket" asp-action="Index">Sepet</a></li>
                    </ul>
                </div>
                <div class="woo-action">
                    <ul class="list-unstyled">
                        <li class="user"><a asp-controller="Account" asp-action="LogOff">Goodby logout<i class="fa fa-user ps-2 text-primary"></i></a></li>
                        @await Component.InvokeAsync("Basket")
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--=================================
      Header -->
    @RenderBody()
    <partial name="_ValidationScriptsPartial.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
