/*****************************
  Helper Classes
*****************************/

/* Color */
.text-primary {
  color: $primary !important;
}

.text-white {
  color: $white;
}

.text-dark {
  color: $gray-7 !important;
}

.text-light {
  color: $gray-3 !important;
}

.text-light-gray {
  color: $gray-2 !important;
}

.text-muted {
  color: #999999 !important;
}

.text-body {
  color: $gray-3 !important;
}

/* Background */
.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-9 !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-light {
  background-color: $gray-1 !important;
}

.bg-success-soft {
  background: rgba($success, 0.1) !important;
}

.bg-danger-soft {
  background: rgba($danger, 0.1) !important;
}



/* Box Shadow */
.box-shadow {
  box-shadow: 0px 3px 4px 0px rgba($gray-5, 0.1);
}

.box-shadow-lg {
  box-shadow: 0px 6px 10px 0px rgba($gray-5, 0.08);
}

/* Border Radius */
.rounded {
  border-radius: $border-radius !important;
}

.rounded-sm {
  border-radius: $border-radius-sm !important;
}

/* Font Weight */
.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

/* Border */
.border-primary {
  border-color: $primary !important;
}

.border-dark {
  border-color: $gray-9 !important;
}

.border-gray {
  border-color: $gray-4 !important;
}

.border-color {
  border: 1px solid $border-color;
}

.border-color-2 {
  border:  1px solid $border-color-2;
}

.border-top {
  border-color: $border-color !important;
}

.border-bottom {
  border-color: $border-color !important;
}


/* left right top */
.left-0{
  left: 0;
}
.right-0{
  right: 0;
}
.top-0{
  top: 0;
}
.bottom-0{
  bottom: 0;
}

/* Border width */
.border {
  border-color: $border-color !important;
}

.border-1 {
  border-width: 1px !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-3 {
  border-width: 3px !important;
}

.border-4 {
  border-width: 4px !important;
}

.border-5 {
  border-width: 5px !important;
}

/* Page section padding */
.space-ptb {
  padding: 100px 0;
}

.space-pt {
  padding-top: 100px;
}

.space-pb {
  padding-bottom:100px;
}

.space-sm-ptb {
  padding: 70px 0;
}

.space-sm-pt {
  padding-top: 70px;
}

.space-sm-pb {
 padding-bottom:70px;
}

.h-100vh {
  height: 100vh !important;
}

/* Half Overlay */
.half-overlay {
	&:before {
		content: "";
		background: $gray-9;
		position: absolute;
		top: 0;
		width: 40%;
		height: 100%;
		border-radius: $border-radius-sm;
	}
}
.half-overlay.left-position {
	&:before {
		left: 0;
	}
}
.half-overlay.right-position {
	&:before {
		right: 0;
	}
}


.bg-overlay-left-100 {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: -100%;
    background-color: $gray-9;
    width: 100%;
    height: 100%;
  }

}

.bg-overlay-right-100 {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    right: -100%;
    background-color: $primary;
    width: 100%;
    height: 100%;
  }

}


/* Img Holder */
.bg-holder {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

/* Background overlay */
.bg-overlay-black-10 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-5, 0.1);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-black-20 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-5, 0.2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-black-30 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-5, 0.3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-black-40 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-5, 0.4);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-black-50 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-5, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-black-60 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-5, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-black-70 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-5, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-black-80 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-5, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-black-90 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-5, 0.9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-white-10 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($white, 0.1);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-white-20 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($white, 0.2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-white-30 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($white, 0.3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-white-40 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($white, 0.4);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-white-50 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($white, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-white-60 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($white, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-white-70 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($white, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-white-80 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($white, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-white-90 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($white, 0.9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-white-97 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($white, 0.97);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-theme-20 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($primary, 0.2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-theme-50 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($primary, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-theme-70 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($primary, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-theme-90 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($primary, 0.9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-theme-97 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($primary, 0.97);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-light-20 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-1, 0.2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-light-50 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-1, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-light-70 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-1, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-light-90 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-1, 0.9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.bg-overlay-light-97 {
  position: relative;
  z-index: 1;
  &:before {
    background: rgba($gray-1, 0.97);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

/* Overlay */

.bg-blue-overlay{
  &:before {
    background: rgba(39, 114, 251, 0.8);

  }
}

.bg-purple-overlay{
  &:before {
    background: rgba(154, 39, 251, 0.8);
  }
}

.bg-green-overlay{
  &:before {
    background: rgba(19, 218, 145, 0.8);
  }
}

.bg-gold-overlay{
  &:before {
    background: rgba(251, 174, 39, 0.8);
  }
}

.bg-pink-overlay{
  &:before {
    background: rgba(251, 39, 159, 0.8);
  }
}

.bg-orange-overlay{
  &:before {
    background: rgba(251, 109, 39, 0.8);
  }
}

/* Avatar */
.avatar {
  min-width: 50px;
  width: 50px;
  display: inline-block;
}

.avatar.avatar-sm {
  min-width: 20px;
  width: 20px;
}

.avatar.avatar-md {
  min-width: 80px;
  width: 80px;
}

.avatar.avatar-lg {
  min-width:90px;
  width:90px;
}


/* Overflow */
.overflowx-h{
  overflow-x:hidden;
}


/* Z index */
.z-index-1 {
  z-index: 1;
}

.z-index-9 {
  z-index: 9;
}

.z-index-99 {
  z-index: 99;
}

.z-index-999 {
  z-index: 999;
}

/* Opacity */
.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.grayscale, .img-grayscale {
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

.grayscale:hover {
    filter: inherit;
}


/* Modal Dialog */
.modal-dialog {
  .login-social-media {
    .btn {
      padding: 10px 12px;
    }
  }
}


/*****************************
  Responsive
*****************************/

/* margin */
.m-n1 {
  margin: -0.25rem !important;
}

.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}

.me-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}

.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}

.ms-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}

.m-n2 {
  margin: -0.5rem !important;
}

.mt-n2,
.my-n2 {
  margin-top: -0.5rem !important;
}

.me-n2,
.mx-n2 {
  margin-right: -0.5rem !important;
}

.mb-n2,
.my-n2 {
  margin-bottom: -0.5rem !important;
}

.ms-n2,
.mx-n2 {
  margin-left: -0.5rem !important;
}

.m-n3 {
  margin: -1rem !important;
}

.mt-n3,
.my-n3 {
  margin-top: -1rem !important;
}

.me-n3,
.mx-n3 {
  margin-right: -1rem !important;
}

.mb-n3,
.my-n3 {
  margin-bottom: -1rem !important;
}

.ms-n3,
.mx-n3 {
  margin-left: -1rem !important;
}

.m-n4 {
  margin: -1.5rem !important;
}

.mt-n4,
.my-n4 {
  margin-top: -1.5rem !important;
}

.me-n4,
.mx-n4 {
  margin-right: -1.5rem !important;
}

.mb-n4,
.my-n4 {
  margin-bottom: -1.5rem !important;
}

.ms-n4,
.mx-n4 {
  margin-left: -1.5rem !important;
}

.m-n5 {
  margin: -3rem !important;
}

.mt-n5,
.my-n5 {
  margin-top: -3rem !important;
}

.me-n5,
.mx-n5 {
  margin-right: -3rem !important;
}

.mb-n5,
.my-n5 {
  margin-bottom: -3rem !important;
}

.ms-n5,
.mx-n5 {
  margin-left: -3rem !important;
}

.mt-n6,
.my-n6 {
  margin-top: -7rem !important;
}

.me-n6,
.mx-n6 {
  margin-right: -7rem !important;
}

.mb-n6,
.my-n6 {
  margin-bottom: -7rem !important;
}

.ms-n6,
.mx-n6 {
  margin-left: -7rem !important;
}

.m-n7 {
  margin: -9rem !important;
}

.mt-n7,
.my-n7 {
  margin-top: -9rem !important;
}

.me-n7,
.mx-n7 {
  margin-right: -9rem !important;
}

.mb-n7,
.my-n7 {
  margin-bottom: -9rem !important;
}

.ms-n7,
.mx-n7 {
  margin-left: -9rem !important;
}


@media (min-width: 576px) {
.m-sm-n1 {
    margin: -0.25rem !important;
  }
  .mt-sm-n1,
  .my-sm-n1 {
    margin-top: -0.25rem !important;
  }
  .me-sm-n1,
  .mx-sm-n1 {
    margin-right: -0.25rem !important;
  }
  .mb-sm-n1,
  .my-sm-n1 {
    margin-bottom: -0.25rem !important;
  }
  .ms-sm-n1,
  .mx-sm-n1 {
    margin-left: -0.25rem !important;
  }
  .m-sm-n2 {
    margin: -0.5rem !important;
  }
  .mt-sm-n2,
  .my-sm-n2 {
    margin-top: -0.5rem !important;
  }
  .me-sm-n2,
  .mx-sm-n2 {
    margin-right: -0.5rem !important;
  }
  .mb-sm-n2,
  .my-sm-n2 {
    margin-bottom: -0.5rem !important;
  }
  .ms-sm-n2,
  .mx-sm-n2 {
    margin-left: -0.5rem !important;
  }
  .m-sm-n3 {
    margin: -1rem !important;
  }
  .mt-sm-n3,
  .my-sm-n3 {
    margin-top: -1rem !important;
  }
  .me-sm-n3,
  .mx-sm-n3 {
    margin-right: -1rem !important;
  }
  .mb-sm-n3,
  .my-sm-n3 {
    margin-bottom: -1rem !important;
  }
  .ms-sm-n3,
  .mx-sm-n3 {
    margin-left: -1rem !important;
  }
  .m-sm-n4 {
    margin: -1.5rem !important;
  }
  .mt-sm-n4,
  .my-sm-n4 {
    margin-top: -1.5rem !important;
  }
  .me-sm-n4,
  .mx-sm-n4 {
    margin-right: -1.5rem !important;
  }
  .mb-sm-n4,
  .my-sm-n4 {
    margin-bottom: -1.5rem !important;
  }
  .ms-sm-n4,
  .mx-sm-n4 {
    margin-left: -1.5rem !important;
  }
  .m-sm-n5 {
    margin: -3rem !important;
  }
  .mt-sm-n5,
  .my-sm-n5 {
    margin-top: -3rem !important;
  }
  .me-sm-n5,
  .mx-sm-n5 {
    margin-right: -3rem !important;
  }
  .mb-sm-n5,
  .my-sm-n5 {
    margin-bottom: -3rem !important;
  }
  .ms-sm-n5,
  .mx-sm-n5 {
    margin-left: -3rem !important;
  }

.mt-sm-n5, .my-sm-n5 {
    margin-top: -3rem!important;
}
.mb-sm-n5, .my-sm-n5 {
    margin-bottom: -3rem!important;
}

.m-sm-n6 {
  margin: -7rem !important;
}

.mt-sm-n6,
.my-sm-n6 {
  margin-top: -7rem !important;
}

.me-sm-n6,
.mx-sm-n6 {
  margin-right: -7rem !important;
}

.mb-sm-n6,
.my-sm-n6 {
  margin-bottom: -7rem !important;
}

.ms-sm-n6,
.mx-sm-n6 {
  margin-left: -7rem !important;
}

.m-sm-n7 {
  margin: -9rem !important;
}

.mt-sm-n7,
.my-sm-n7 {
  margin-top: -9rem !important;
}

.me-sm-n7,
.mx-sm-n7 {
  margin-right: -9rem !important;
}

.mb-sm-n7,
.my-sm-n7 {
  margin-bottom: -9rem !important;
}

.ms-sm-n7,
.mx-sm-n7 {
  margin-left: -9rem !important;
}

}

@media (min-width: 768px) {
.m-md-n1 {
    margin: -0.25rem !important;
  }
  .mt-md-n1,
  .my-md-n1 {
    margin-top: -0.25rem !important;
  }
  .me-md-n1,
  .mx-md-n1 {
    margin-right: -0.25rem !important;
  }
  .mb-md-n1,
  .my-md-n1 {
    margin-bottom: -0.25rem !important;
  }
  .ms-md-n1,
  .mx-md-n1 {
    margin-left: -0.25rem !important;
  }
  .m-md-n2 {
    margin: -0.5rem !important;
  }
  .mt-md-n2,
  .my-md-n2 {
    margin-top: -0.5rem !important;
  }
  .me-md-n2,
  .mx-md-n2 {
    margin-right: -0.5rem !important;
  }
  .mb-md-n2,
  .my-md-n2 {
    margin-bottom: -0.5rem !important;
  }
  .ms-md-n2,
  .mx-md-n2 {
    margin-left: -0.5rem !important;
  }
  .m-md-n3 {
    margin: -1rem !important;
  }
  .mt-md-n3,
  .my-md-n3 {
    margin-top: -1rem !important;
  }
  .me-md-n3,
  .mx-md-n3 {
    margin-right: -1rem !important;
  }
  .mb-md-n3,
  .my-md-n3 {
    margin-bottom: -1rem !important;
  }
  .ms-md-n3,
  .mx-md-n3 {
    margin-left: -1rem !important;
  }
  .m-md-n4 {
    margin: -1.5rem !important;
  }
  .mt-md-n4,
  .my-md-n4 {
    margin-top: -1.5rem !important;
  }
  .me-md-n4,
  .mx-md-n4 {
    margin-right: -1.5rem !important;
  }
  .mb-md-n4,
  .my-md-n4 {
    margin-bottom: -1.5rem !important;
  }
  .ms-md-n4,
  .mx-md-n4 {
    margin-left: -1.5rem !important;
  }
  .m-md-n5 {
    margin: -3rem !important;
  }
  .mt-md-n5,
  .my-md-n5 {
    margin-top: -3rem !important;
  }
  .me-md-n5,
  .mx-md-n5 {
    margin-right: -3rem !important;
  }
  .mb-md-n5,
  .my-md-n5 {
    margin-bottom: -3rem !important;
  }
  .ms-md-n5,
  .mx-md-n5 {
    margin-left: -3rem !important;
  }

.m-md-n6 {
  margin: -7rem !important;
}

.mt-md-n6,
.my-md-n6 {
  margin-top: -7rem !important;
}

.me-md-n6,
.mx-md-n6 {
  margin-right: -7rem !important;
}

.mb-md-n6,
.my-md-n6 {
  margin-bottom: -7rem !important;
}

.ms-md-n6,
.mx-md-n6 {
  margin-left: -7rem !important;
}

.m-md-n7 {
  margin: -9rem !important;
}

.mt-md-n7,
.my-md-n7 {
  margin-top: -9rem !important;
}

.me-md-n7,
.mx-md-n7 {
  margin-right: -9rem !important;
}

.mb-md-n7,
.my-md-n7 {
  margin-bottom: -9rem !important;
}

.ms-md-n7,
.mx-md-n7 {
  margin-left: -9rem !important;
}

}

@media (min-width: 992px) {

.m-lg-n1 {
    margin: -0.25rem !important;
  }
  .mt-lg-n1,
  .my-lg-n1 {
    margin-top: -0.25rem !important;
  }
  .me-lg-n1,
  .mx-lg-n1 {
    margin-right: -0.25rem !important;
  }
  .mb-lg-n1,
  .my-lg-n1 {
    margin-bottom: -0.25rem !important;
  }
  .ms-lg-n1,
  .mx-lg-n1 {
    margin-left: -0.25rem !important;
  }
  .m-lg-n2 {
    margin: -0.5rem !important;
  }
  .mt-lg-n2,
  .my-lg-n2 {
    margin-top: -0.5rem !important;
  }
  .me-lg-n2,
  .mx-lg-n2 {
    margin-right: -0.5rem !important;
  }
  .mb-lg-n2,
  .my-lg-n2 {
    margin-bottom: -0.5rem !important;
  }
  .ms-lg-n2,
  .mx-lg-n2 {
    margin-left: -0.5rem !important;
  }
  .m-lg-n3 {
    margin: -1rem !important;
  }
  .mt-lg-n3,
  .my-lg-n3 {
    margin-top: -1rem !important;
  }
  .me-lg-n3,
  .mx-lg-n3 {
    margin-right: -1rem !important;
  }
  .mb-lg-n3,
  .my-lg-n3 {
    margin-bottom: -1rem !important;
  }
  .ms-lg-n3,
  .mx-lg-n3 {
    margin-left: -1rem !important;
  }
  .m-lg-n4 {
    margin: -1.5rem !important;
  }
  .mt-lg-n4,
  .my-lg-n4 {
    margin-top: -1.5rem !important;
  }
  .me-lg-n4,
  .mx-lg-n4 {
    margin-right: -1.5rem !important;
  }
  .mb-lg-n4,
  .my-lg-n4 {
    margin-bottom: -1.5rem !important;
  }
  .ms-lg-n4,
  .mx-lg-n4 {
    margin-left: -1.5rem !important;
  }
  .m-lg-n5 {
    margin: -3rem !important;
  }
  .mt-lg-n5,
  .my-lg-n5 {
    margin-top: -3rem !important;
  }
  .me-lg-n5,
  .mx-lg-n5 {
    margin-right: -3rem !important;
  }
  .mb-lg-n5,
  .my-lg-n5 {
    margin-bottom: -3rem !important;
  }
  .ms-lg-n5,
  .mx-lg-n5 {
    margin-left: -3rem !important;
  }
.m-lg-n6 {
  margin: -7rem !important;
}

.mt-lg-n6,
.my-lg-n6 {
  margin-top: -7rem !important;
}

.me-lg-n6,
.mx-lg-n6 {
  margin-right: -7rem !important;
}

.mb-lg-n6,
.my-lg-n6 {
  margin-bottom: -7rem !important;
}

.ms-lg-n6,
.mx-lg-n6 {
  margin-left: -7rem !important;
}

.m-lg-n7 {
  margin: -9rem !important;
}

.mt-lg-n7,
.my-lg-n7 {
  margin-top: -9rem !important;
}

.me-lg-n7,
.mx-lg-n7 {
  margin-right: -9rem !important;
}

.mb-lg-n7,
.my-lg-n7 {
  margin-bottom: -9rem !important;
}

.ms-lg-n7,
.mx-lg-n7 {
  margin-left: -9rem !important;
}

}

@media (min-width: 1200px) {
.m-xl-n1 {
    margin: -0.25rem !important;
  }
  .mt-xl-n1,
  .my-xl-n1 {
    margin-top: -0.25rem !important;
  }
  .me-xl-n1,
  .mx-xl-n1 {
    margin-right: -0.25rem !important;
  }
  .mb-xl-n1,
  .my-xl-n1 {
    margin-bottom: -0.25rem !important;
  }
  .ms-xl-n1,
  .mx-xl-n1 {
    margin-left: -0.25rem !important;
  }
  .m-xl-n2 {
    margin: -0.5rem !important;
  }
  .mt-xl-n2,
  .my-xl-n2 {
    margin-top: -0.5rem !important;
  }
  .me-xl-n2,
  .mx-xl-n2 {
    margin-right: -0.5rem !important;
  }
  .mb-xl-n2,
  .my-xl-n2 {
    margin-bottom: -0.5rem !important;
  }
  .ms-xl-n2,
  .mx-xl-n2 {
    margin-left: -0.5rem !important;
  }
  .m-xl-n3 {
    margin: -1rem !important;
  }
  .mt-xl-n3,
  .my-xl-n3 {
    margin-top: -1rem !important;
  }
  .me-xl-n3,
  .mx-xl-n3 {
    margin-right: -1rem !important;
  }
  .mb-xl-n3,
  .my-xl-n3 {
    margin-bottom: -1rem !important;
  }
  .ms-xl-n3,
  .mx-xl-n3 {
    margin-left: -1rem !important;
  }
  .m-xl-n4 {
    margin: -1.5rem !important;
  }
  .mt-xl-n4,
  .my-xl-n4 {
    margin-top: -1.5rem !important;
  }
  .me-xl-n4,
  .mx-xl-n4 {
    margin-right: -1.5rem !important;
  }
  .mb-xl-n4,
  .my-xl-n4 {
    margin-bottom: -1.5rem !important;
  }
  .ms-xl-n4,
  .mx-xl-n4 {
    margin-left: -1.5rem !important;
  }
  .m-xl-n5 {
    margin: -3rem !important;
  }
  .mt-xl-n5,
  .my-xl-n5 {
    margin-top: -3rem !important;
  }
  .me-xl-n5,
  .mx-xl-n5 {
    margin-right: -3rem !important;
  }
  .mb-xl-n5,
  .my-xl-n5 {
    margin-bottom: -3rem !important;
  }
  .ms-xl-n5,
  .mx-xl-n5 {
    margin-left: -3rem !important;
  }

.m-xl-n6 {
  margin: -7rem !important;
}

.mt-xl-n6,
.my-xl-n6 {
  margin-top: -7rem !important;
}

.me-xl-n6,
.mx-xl-n6 {
  margin-right: -7rem !important;
}

.mb-xl-n6,
.my-xl-n6 {
  margin-bottom: -7rem !important;
}

.ms-xl-n6,
.mx-xl-n6 {
  margin-left: -7rem !important;
}

.m-xl-n7 {
  margin: -9rem !important;
}

.mt-xl-n7,
.my-xl-n7 {
  margin-top: -9rem !important;
}

.me-xl-n7,
.mx-xl-n7 {
  margin-right: -9rem !important;
}

.mb-xl-n7,
.my-xl-n7 {
  margin-bottom: -9rem !important;
}

.ms-xl-n7,
.mx-xl-n7 {
  margin-left: -9rem !important;
}
}


@media (max-width:1199px) {

	/* Page Section Padding */
	.space-ptb {
		padding: 70px 0;
	}

	.space-pt {
		padding-top: 70px;
	}

	.space-pb {
		padding-bottom:70px;
  }

  .space-sm-ptb {
    padding: 60px 0;
  }

  .space-sm-pt {
    padding-top: 60px;
  }

  .space-sm-pb {
   padding-bottom: 60px;
  }

}

@media (max-width:991px) {

  /* Page Section Padding */
	.space-ptb {
		padding: 60px 0;
	}

	.space-pt {
		padding-top: 60px;
	}

	.space-pb {
		padding-bottom: 60px;
  }

  .space-sm-ptb {
    padding: 50px 0;
  }

  .space-sm-pt {
    padding-top: 50px;
  }

  .space-sm-pb {
   padding-bottom: 50px;
  }

  /* Half Overlay */
  .half-overlay:before {
    content: none;
  }

  /* Border */
  .border-lg-none {
    border: none !important;
  }

  /* Overlay */
  .bg-overlay-left-100:before,
  .bg-overlay-right-100:before {
    display: none;
  }

}

@media (max-width:767px) {

  /* Page Section Padding */
	.space-ptb {
		padding: 50px 0;
	}

	.space-pt {
		padding-top: 50px;
	}

	.space-pb {
		padding-bottom: 50px;
  }

  .space-sm-ptb {
    padding: 40px 0;
  }

  .space-sm-pt {
    padding-top: 40px;
  }

  .space-sm-pb {
   padding-bottom: 40px;
  }

	.container {
		max-width: 100%;
  }

  /* Border */
  .border-md-none {
    border: none !important;
  }

}

@media (max-width:575px) {

  /* Page Section Padding */
  .space-ptb {
		padding: 40px 0;
	}

	.space-pt {
		padding-top: 40px;
	}

	.space-pb {
		padding-bottom: 40px;
	}

  /* Border */
  .border-sm-none {
    border: none !important;
  }

}
